<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.myapp01.iMenu">
<select id="getList" resultType="com.test.myapp01.Menu">
	select seqno,name,price from menu order by seqno desc
</select>
<insert id="insert">
	insert into menu values(sq.nextval,#{param1},#{param2})
</insert>
<delete id="delete">
	delete from menu where seqno=#{param1}
</delete>
<select id="viewMenu" resultType="com.test.myapp01.Menu">
	select seqno,name,price from menu where seqno=#{param1}
</select>
<update id="updateMenu">
	update menu set name=#{param1},price=#{param2} where seqno=#{param3}
</update>
</mapper>